<!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Esileht</a></li>
      <li>
        <a href="{{ "/tikandid/" | prepend: site.baseurl }}">Tikandid</a>
        <ul>
          <li><a href="{{ "/tikandid/hall-mantel/" | prepend: site.baseurl }}">Halli mantli kolmas elu</a></li>
          <li><a href="{{ "/tikandid/mardimantel/" | prepend: site.baseurl }}">Mardimantel</a></li>
          {% comment %}<li><a href="{{ "/tikandid/kunstniku-kampsun/" | prepend: site.baseurl }}">Kunstniku kampsun</a></li>
          <li><a href="{{ "/tikandid/jakk-emale/" | prepend: site.baseurl }}">Jakk emale</a></li>{% endcomment %}
          <li><a href="{{ "/tikandid/lapse-tekk/" | prepend: site.baseurl }}">Lapse tekk</a></li>
        </ul>
      </li>
      <li><a href="{{ "/illustratsioonid/" | prepend: site.baseurl }}">Illustratsioonid</a></li>
      {% comment %}
      <li><a href="{{ "/tooted/" | prepend: site.baseurl }}">Tooted</a>
        <ul>
          <li><a href="{{ "/tooted/#/" | prepend: site.baseurl }}">1</a></li>
          <li><a href="{{ "/tooted/#/" | prepend: site.baseurl }}">2</a></li>
          <li><a href="{{ "/tooted/#/" | prepend: site.baseurl }}">3 </a></li>
          <li><a href="{{ "/tooted/#/" | prepend: site.baseurl }}">4</a></li>
        </ul>
      </li>
      {% endcomment %}

      {% comment %}
      <li>
        <a href="{{ "#" | prepend: site.baseurl }}">Right Sidebar</a>
        <ul>
          <li><a href="{{ "#" | prepend: site.baseurl }}">Kunstniku kampsun</a></li>
          <li><a href="{{ "#" | prepend: site.baseurl }}">Jakk emale</a></li>
          <li><a href="{{ "#" | prepend: site.baseurl }}">Halli mantli kolmas elu</a></li>
          <li>
            <a href="{{ "#" | prepend: site.baseurl }}">And a submenu &hellip;</a>
            <ul>
              <li><a href="{{ "#" | prepend: site.baseurl }}">Lorem ipsum dolor</a></li>
              <li><a href="{{ "#" | prepend: site.baseurl }}">Phasellus consequat</a></li>
              <li><a href="{{ "#" | prepend: site.baseurl }}">Magna phasellus</a></li>
              <li><a href="{{ "#" | prepend: site.baseurl }}">Etiam dolore nisl</a></li>
            </ul>
          </li>
          <li><a href="{{ "#" | prepend: site.baseurl }}">Veroeros feugiat</a></li>
        </ul>
      </li> 
      {% endcomment %}

      <li><a href="{{ "/matagor/" | prepend: site.baseurl }}">Matagorist</a></li>
    </ul>
  </nav>