<div class="row">
	<article class="4u 12u(mobile) special">
		<a href="{{ "/tikandid/seelik/" | prepend: site.baseurl }}" class="image featured"><img src="/images/featured/seelik.jpg" alt="" /></a>
		<header>
			<h3><a href="{{ "/tikandid/seelik/" | prepend: site.baseurl }}">Seelik</a></h3>
		</header>
		<p>
			
		</p>
	</article>
	{% comment %}
	<article class="4u 12u(mobile) special">
		<a href="{{ "/tikandid/mardimantel/" | prepend: site.baseurl }}" class="image featured"><img src="/images/featured/mardimantel.jpg" alt="" /></a>
		<header>
			<h3><a href="{{ "/tikandid/mardimantel/" | prepend: site.baseurl }}">Mardimantel</a></h3>
		</header>
		<p>
			
		</p>
	</article>
	{% endcomment %}
	<article class="4u 12u(mobile) special">
		<a href="{{ "/tikandid/hall-mantel/" | prepend: site.baseurl }}" class="image featured"><img src="/images/featured/hall-mantel.jpg" alt="" /></a>
		<header>
			<h3><a href="{{ "/tikandid/hall-mantel/" | prepend: site.baseurl }}">Halli mantli kolmas elu</a></h3>
		</header>
		<p>
			
		</p>
	</article>
	<article class="4u 12u(mobile) special">
		<a href="{{ "/tikandid/lapse-tekk/" | prepend: site.baseurl }}" class="image featured"><img src="/images/featured/lapsetekk.jpg" alt="" /></a>
		<header>
			<h3><a href="{{ "/tikandid/lapse-tekk/" | prepend: site.baseurl }}">Lapse tekk</a></h3>
		</header>
		<p>
			
		</p>
	</article>
</div>

